/**************
*****Colors****
**************/

// Backgrounds
$bg-color : #1F1A36;
$content-bg-color : #FFFFFF;

// Texts
$title-color: #504889;
$text-color: #000000;
$link-color: #FED0B2;

// Buttons
// normal
$button-bg-normal-color : #504889;
$button-text-normal-color: #DCDAE7;
// hover
$button-bg-hover-color: #DCDAE7;
$button-text-hover-color : #504889;
// disabled
$button-bg-disabled-color: #DCDAE7;
$button-text-disabled-color : #B9B6D0;


/**************
*****Spaces****
**************/