@import '../abstracts/variables';
@import '../base/typography.scss';

.alert-danger {
    width: 320px;
    height: 30px;
    text-align: center;
    border-style: none;
    border-radius: 7px;
    font-size: $h4-size;
    background-color: $alert-danger;
    color: $alert-text-danger;
  }

.alert-success {
    width: 320px;
    height: 30px;
    text-align: center;
    border-style: none;
    border-radius: 7px;
    font-size: $h4-size;
    background-color: $alert-success;
    color: $alert-text-success;
  }