@import '../abstracts/variables';
@import '../base/typography.scss';

button{
    width: 320px;
    height: 40px;
    margin-top: $base-space-5;
    border-style: none;
    border-radius: 7px;
    background-color: $button-bg-normal-color;
    color: $button-text-normal-color;
    font-size: $h4-size;
}

button:hover{
    background-color: $button-bg-hover-color;
    color: $button-text-hover-color;
}

button:disabled{
    background-color: $button-bg-disabled-color;
    color: $button-text-disabled-color;
}