/**************
*****Fonts*****
**************/

$title-font : 'Abril Fatface', serif;
$title-font-weight : 400;

$text-font: 'Montserrat', sans-serif;
$text-font-weight: 400;
$text-font-strong-weight: 700;