@import '../abstracts/variables';

/***********************
*****Font variables*****
***********************/

// Title font
$title-font : 'Abril Fatface', serif;
$title-font-weight : 400;

// Text font
$text-font: 'Montserrat', sans-serif;
$text-font-weight: 400;
$text-font-strong-weight: 700;

// Font sizes
$h1-size: 40px;
$h4-size: 16px;
$text-std-size: 12px;


/********************
******Text style*****
********************/

h1{
    font-family: $title-font;
    font-weight: $title-font-weight;
    color: $title-color;
    font-size: $h1-size;
}

body{
    font-family: $text-font;
    font-size: $text-std-size;
}